footer {
  font-size: 0.75rem;
  height: fit-content;
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

footer a {
  margin-left: 0.5rem;
  color: var(--accent-light-color);
}

h1 {    
  color: var(--highlight-color);
  margin-bottom: 0.25rem;
  font-size: 2rem;
}

.root {
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem; 
  top: 1rem;
  position: relative;
  fill: var(--foreground-color);
}

@media all and (display-mode: standalone) {
  .root {
    justify-content: space-between;
  }

  .github {
    display: none;
  }

  footer {
    display: none;
  }

  footer a {
    display: none;
  }
}