<div class="center">
  <div class="digital">
    <div class="center middle">
      <h1 [ngClass]="{'highlight' : isHighlighted}">
        {{ currentNote?.name ?? '&nbsp;'}}<sub>{{ currentNote?.octave ?? '&nbsp;' }}</sub>
      </h1>
    </div>
    <div class="center bottom">
      <p>
        &#x266d;{{ frequencyMeterLeft }}<span [ngClass]="{'highlight' : isHighlighted}">|</span>{{ frequencyMeterRight }}&#x266F;
      </p>
      <p class="center">{{ currentFrequency }} Hz</p>
    </div>
  </div>
</div>