.note {
  font-weight: normal;
  font-size: min(10vw, 10vh);
  text-align: center;
  user-select: none;
}

.frequency {
  font-family: monospace;
  font-weight: normal;
  font-size: min(3vw, 3vh);
  text-wrap: nowrap;
  text-align: center;
  user-select: none;
}

.highlight {
  color: var(--highlight-color);
}

@media all and (display-mode: standalone) {
  .note {
    font-size: min(40vw, 20vh);
    text-shadow: 0 0 0.5rem var(--shadow-color);
  }
  
  .frequency {
    font-size: min(5vw, 5vh);
    text-shadow: 0 0 0.5rem var(--shadow-color);
  }
}