.note {
  font-weight: normal;
  margin: 0 0 0.5rem 0.5rem;
  font-size: 10vw;
  text-align: center;
  user-select: none;
}

.frequency {
  font-family: monospace;
  font-weight: normal;
  margin: auto 0.5rem 0.5rem 0.5rem;
  font-size: 3vw;
  user-select: none;
  text-wrap: nowrap;
  text-align: center;
}

.highlight {
  color: var(--highlight-color);
}

@media all and (display-mode: standalone) {
  .note {
    font-size: 50vw;
  }
  
  .frequency {
    font-size: 5vw;
  }
}